@import url('https://fonts.googleapis.com/css2?family=Alata&family=Roboto:wght@500&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Alata', Arial, Helvetica, sans-serif,'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  vertical-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 10vh;
  background-color: rgb(33, 118, 139);
  color: rgb(220, 235, 242);
}

.header-nav-links {
  display: flex;
  gap: 2rem;
  font-size: 1rem;
  margin-top: 3rem;
}

h1 {
  font-family: "Roboto";
}

h6 {
  margin-top: 0;
}

.home-page {
  height: 90vh;
  background-color: rgb(79, 147, 187);
}

.footer-wrapper {
  display: flex;
  height: 10vh;
  background-color: rgb(130, 158, 230);
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
}
